<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <!-- Add semi-colon separated list of Teamcity build Ids here -->
        <add key="BuildIds" value="bt765" />
        <add key="TeamcityServer" value="http://teamcity.codebetter.com:80" />
        <add key="Username" value="admin" />
        <add key="Password" value="admin" />
        <add key="IsGuest" value="true" />
    </appSettings>
</configuration>